<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Demonstration" annotations="JDK" parallel="tests">

    <test name="selenium">
        <classes>
            <class name="tests.SeleniumTests"/>
        </classes>
    </test>

    <test name="selenide">
        <classes>
            <class name="tests.SelenideTests"/>
        </classes>
    </test>

    <test name="restAssured">
        <classes>
            <class name="tests.RestAssuredTests"/>
        </classes>
    </test>
</suite>